{:highlights [{:id #uuid "654eeef4-66d7-4ac8-bf80-a036e9885a20",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 986.8294677734375,
                                     :y2 1073.7421875,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1018.875,
                                   :x2 986.8294677734375,
                                   :y2 1044.875,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1047.7421875,
                                   :x2 165.6497039794922,
                                   :y2 1073.7421875,
                                   :width 1069,
                                   :height 1361.5989159891599}),
                          :page 1},
               :content {:text "Dimensional modeling (DM) is the name of a logical design technique often used for data warehouses."},
               :properties {:color "red"}}
              {:id #uuid "654eefac-e713-4e4c-92e3-a9b2cb7d0d6c",
               :page 3,
               :position {:bounding {:x1 284,
                                     :y1 826,
                                     :x2 806,
                                     :y2 1183,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1699671980068},
               :properties {:color "blue"}}],
 :extra {:page 8}}
