{:highlights [{:id #uuid "654eeef4-66d7-4ac8-bf80-a036e9885a20",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 986.8294677734375,
                                     :y2 1073.7421875,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1018.875,
                                   :x2 986.8294677734375,
                                   :y2 1044.875,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1047.7421875,
                                   :x2 165.6497039794922,
                                   :y2 1073.7421875,
                                   :width 1069,
                                   :height 1361.5989159891599}),
                          :page 1},
               :content {:text "Dimensional modeling (DM) is the name of a logical design technique often used for data warehouses."},
               :properties {:color "red"}}
              {:id #uuid "654eefac-e713-4e4c-92e3-a9b2cb7d0d6c",
               :page 3,
               :position {:bounding {:x1 284,
                                     :y1 826,
                                     :x2 806,
                                     :y2 1183,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1699671980068},
               :properties {:color "blue"}}
              {:id #uuid "654ef004-0984-4e74-b7b2-5b333e689b1b",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 510,
                                     :x2 1002.0787963867188,
                                     :y2 1202.6796875,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects ({:x1 0,
                                   :y1 510,
                                   :x2 0,
                                   :y2 529.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 545.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 561.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1089.8125,
                                   :x2 987.2503662109375,
                                   :y2 1115.8125,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1118.8125,
                                   :x2 1002.0787963867188,
                                   :y2 1144.8125,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1147.6796875,
                                   :x2 946.5416259765625,
                                   :y2 1173.6796875,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1176.6796875,
                                   :x2 134.12191772460938,
                                   :y2 1202.6796875,
                                   :width 1069,
                                   :height 1361.5989159891599}),
                          :page 8},
               :content {:text "However, before data is packaged into its ﬁnal queryable format, it must be loaded into a dimensional model. The dimensional model is the only viable technique for achieving both user understandability and high query performance in the face of ever-changing user questions"},
               :properties {:color "green"}}],
 :extra {:page 3}}
