{:highlights [{:id #uuid "654eeef4-66d7-4ac8-bf80-a036e9885a20",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 986.8294677734375,
                                     :y2 1073.7421875,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1018.875,
                                   :x2 986.8294677734375,
                                   :y2 1044.875,
                                   :width 1069,
                                   :height 1361.5989159891599}
                                  {:x1 28.96875,
                                   :y1 1047.7421875,
                                   :x2 165.6497039794922,
                                   :y2 1073.7421875,
                                   :width 1069,
                                   :height 1361.5989159891599}),
                          :page 1},
               :content {:text "Dimensional modeling (DM) is the name of a logical design technique often used for data warehouses."},
               :properties {:color "yellow"}}
              {:id #uuid "654eeeff-2e93-448f-9a1d-0f858db56764",
               :page 1,
               :position {:bounding {:x1 32,
                                     :y1 1282,
                                     :x2 106,
                                     :y2 1338,
                                     :width 1069,
                                     :height 1361.5989159891599},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1699671806900},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
